DB_NAME=orderflow
DB_USERNAME=orderflow
DB_PASSWORD=orderflow
REDIS_PORT=6379

# ** NOTE **: `ENABLE_TESTCONTAINERS` should NOT be set here!
# > Compose `test` service sets it to false internally
# > The `local_verify.sh` test sets it to true

# Spring profile: `local` | `prod`
SPRING_PROF=local

# Compose `app` service build target: `development` | `production`
BUILD_TARGET=development

# Local DEV ONLY secret
JWT_SECRET=dev-only-secret-change-me-min-32-bytes-long-please
